                body {
                    font-family: BadScript;
            align-content: center;
            border: 1px solid darkblue;
            min-height: 50%;
            width: 50%;
            margin: 3%;
            padding: 1%;
        }
        h1 {
            text-align: right;
            font: bold 13pt Times New Roman;
        }
        address {
            text-align: right;
            font: italic 13pt Times New Roman;
        }
        .shapka {
            text-align: right;
            font: normal 13pt Times New Roman;
        }
        .man {
            font: bold 13pt BadScript;
            text-indent: 5mm;
            text-decoration:underline
        }
        p {
            font: normal 13pt BadScript;
            text-indent: 5mm;
        }
        .off {
            font: normal 13pt Times New Roman;
            text-indent: none;
        }
    